.header{
    padding: 10px 20px;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
ul{
    display: flex;
    align-items: center;
    gap: 25px;    
}
a{
    color: aquamarine;
    transition: 0.5s ease;
}

a:hover{
    color: orange;
}